<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <ul class="dropdown-menu">
          </ul>
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add</button>
        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="AddForm">
                  <div class="mb-3">
                    <select class="form-select" aria-label="option" formControlName="option">
                      <option selected>option</option>
                      <option value="event">Event</option>
                      <option value="personal">Personal</option>
                      <option value="work">Work</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Name</label>
                    <input type="text" class="form-control" formControlName="name">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputTime" class="form-label">Time</label>
                    <input type="time" class="form-control" formControlName="time">
                    <div>
                      <div class="mb-3">
                        <label for="exampleInputDate" class="form-label">Date</label>
                        <input type="date" class="form-control" formControlName="date">
                      </div>

                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="Add ()">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-success" type="submit">logout</button>

      </form>
    </div>
  </div>
</nav>


<div class="container-fluid mt-3">
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Options</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks; index as i">
      <th scope="row">{{i + 1}}</th>
      <td>{{task.option}}</td>
      <td>{{task.name}}</td>
      <td>{{task.date}}</td>
      <td>{{task.time}}</td>
      <td><button type="button" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-primary" (click)="delete">Delete</button>