<!-- <div class="input-group sm">
 <input 
    type="text"
    class="form-control shadow-none"
    placeholder="Search by task"
    aria-describedby="button-addon2"
    (focus)="showSerachResults()"
    (focusout)="hideSearchResults()"
    (keyup)="onSearch()"
    [(ngModel)]="searchText"
    />
    <button
    class="btn btn-outline-info rounded-end"
    type="button"
    id="button-addon2"
    >
      <i class="bi bi-search"></i>
</button>
<div class="searchResult" *ngIf="showSerachResults">
  <button
     class="item"
     *ngFor="let item of results"
     (click)="navigate(item._id)"
>
   {{ item._id}}
  </button>
  <div>
  </div>
 -->
